

{% extends 'core/base.html' %}

{% block title %}
    {% if form.instance.pk %}Modifier la note{% else %}Ajouter une note{% endif %}
{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Modifier la note{% else %}Ajouter une note{% endif %}</h2>

<form method="post" class="w-50 mx-auto">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="mb-3">
        {{ form.assignment.label_tag }}
        {{ form.assignment }}
        {{ form.assignment.errors }}
    </div>

    <div class="mb-3">
        {{ form.student.label_tag }}
        {{ form.student }}
        {{ form.student.errors }}
    </div>

    <div class="mb-3">
        {{ form.score.label_tag }}
        {{ form.score }}
        {{ form.score.errors }}
    </div>

    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="{% url 'instructor_dashboard_template' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
